html * {
    margin: 0;
    padding: 0;
    box-sizing:  border-box;
}

body{
    background-color: #1C1919;
}


/* SECTION NAV */
.boxNavBar {
        min-width: 100%;
}

.iconos {
    width: 10%;
    position:fixed;
    right: .1em;
    top: 1rem;
}

/* SECTION HOME */
.boxCenter {
display: flex;
flex-direction: column;
justify-content: center;
max-width: 100%;
min-height: 100vh;
}

.boxTag{
    width: 40%;
    transform: translateX(60%);
    transition: 2s ease-out;
    font-family: 'Splash', cursive;
    font-size: 1.5rem;
    color: #f3f3f3;
}

.title-main {
    width: 50%;
    transform: translateX(60%);
    transition: 4s ease-out;
    color: #f3f3f3;
    font-size: 5rem;
    min-height: 20vh;
    margin: .5rem 0 .5rem 0;
}

.title-main h2 { 
    font-size: 4rem;
}

.title-main span { 
    color: #f82756;
    text-shadow: 5px 3px #08f8d9;
    font-size: 4.5rem;
    font-weight:900;
    }

.boxEndTag {
    width: 40%;
    transform: translateX(60%);
    transition: 2s ease-out;
    font-family: 'Splash', cursive;
    color: #f3f3f3;
}


p.stack{
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 2rem;
}

.boxBottom button {
    text-align: center;
    cursor:pointer;
    width: 20%;
    margin: 20px 0 0 20rem;
    padding: 5px;
    background-color: #1C1919;
    border: 1px solid #08f8d9;
    color: #08f8d9;
}

button.btn {
    font-size: 1.3rem;
}

button.btn:hover {
    background-color: #08f8d9;
    color: #f3f3f3;
    transition: 2s ease-in-out;
}

@media (min-width: 320px) and (max-width: 768px) {
    .boxCenter {
        min-width: 100vw;
        }

    .boxTag{
        width: 30%;
        font-size: .8rem;
    }

    .title-main {
        min-width: 60%;
    }

    .title-main h2 {
        font-size: 2.5rem;
    }

    .boxEndTag {
        width: 30%;
    }

    p.stack{
        font-family: 'Darker Grotesque', sans-serif;
        font-size: .8rem;
    }


}

/* SECTION ABOUT ME */

.boxAbout {
    display: flex;
    color: #f3f3f3;
    justify-content: flex-end;
    max-width: 80%;
    min-height: 80vh;
    margin: auto;
}

.boxAnimation {
    margin: auto;
    width: 50%;
    height: 100vh;
}

.mainAnimation{
    min-width: 100%;
    height: 50%;
    border-radius: 100%;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite
}

@keyframes example {
    0%   {
        background-image: url(./recursos/descarga.png);
        transform:rotateZ(360deg);
        transition: 1s linear;
    }
    5%  {
        background-image: url(./recursos/descarga.png);
        transform:rotateZ(180deg);
        transition: 2s ease;
    }
    15%  {
        background-image: url(./recursos/descarga.png);
        transform:rotateZ(360deg);
        transition: 3s ease-in-out;
    }
    25%  {
        background-image: url(./recursos/descarga.png);
        transform:rotateZ(180deg);
        transition: 4s ease-in;
    }
    50%  {
        background-image: url(./recursos/descarga.png);
        transform:rotatey(360deg);
        transition: 3s linear;
    }
    75%  {
        background-image: url(./recursos/descarga.png);
        transform:rotateY(180deg);
        transition: 2s ease;
    }
    85%  {
        background-image: url(./recursos/descarga.png);
        transform:rotateY(360deg);
        transition: 1s ease-in-out;
    }
    100% {
        background-image: url(./recursos/descarga.png);
        transform:rotateY(180deg);
        transition: 2s ease-in;
    }
}

.mainAbout {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-family: 'Roboto', sans-serif;
    font-size: .8rem;
    width: 50%;
    padding: 2rem;
}

.boxTagAbout{
    width: 100%;
    transform: translatey(-10%);
    transition: 4s ease-out;
    font-family: 'Splash', cursive;
    font-size: 1rem;
    color: #f3f3f3;
}

.aboutMe {
    width: 100%;
    transform: translatey(-10%);
    transition: 4s ease-out;
    margin: 2.5rem 0 0rem 0;
}

.boxEndTagAbout{
    width: 100%;
    transform: translatey(-10%);
    transition: 4s ease-out;
    font-family: 'Splash', cursive;
    font-size: 1rem;
    color: #f3f3f3;
}

.intro{
    font-size: 3rem;
    font-weight: 600;
    font-family: 'Anton', sans-serif;
    color: #08f8d9;
    padding: .2em;
}

a.back {
text-decoration: none;
color: #08f8d9;
}

@media (min-width: 320px) and (max-width: 768px) {

    .boxAbout {
        flex-direction: column-reverse;
        width: 100vw;
        min-height: 80vh;
    }

    .mainAbout {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        font-family: 'Roboto', sans-serif;
        width: 100%;
        padding: .5rem;
    }

    .boxTagAbout{
        font-size: .8rem;
    }

    .aboutMe {
        margin: 2rem 0 0rem 0;
        font-size: .6rem;
    }

    .intro{
        font-size: 2rem;
    }


}

/* SECTION MY SKILL */

.boxSkill{
    display: flex;
    color: #f3f3f3;
    justify-content: flex-end;
    max-width: 80%;
    min-height: 100vh;
    margin: auto;
    padding: 2rem;
    }

.mainSkill {
        width: 50%;
}

.boxTagSkill{
        width: 100%;
        transform: translatex(10%);
        transition: 4s ease-out;
        font-family: 'Splash', cursive;
        font-size: 1rem;
        color: #f3f3f3;
}

.aboutMySkill {
    width: 80%;
    transform: translatey(-10%);
    transition: 4s ease-out;
    margin: 1rem 0 0rem 0;
    padding: 1rem;
    font-size: .8rem;
}

.aboutMySkill h3 {
    margin: 2rem 0 1rem 0;
}

.boxEndTagSkill {
    width: 100%;
    transform: translatey(-10%);
    transition: 4s ease-out;
    font-family: 'Splash', cursive;
    font-size: 1rem;
    color: #f3f3f3;
}

.boxEndTagSkill a.create{
    color: #08f8d9;
}

.boxEndTagSkill p.intoSkill{
    font-family: 'Darker Grotesque', sans-serif;
    font-size: .8rem;
}

.skill{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-evenly;
    width: 50%;
    color: #f3f3f3;
    min-height: 100%;
    margin-top: 1rem;
    }

.skill1, .skill2, .skill3, .skill4,
.skill5 {
    margin: 10px;
    color: #08f8d9;
    transition: all 4s ease-in;
    transform: translatey(100%);
}

@media (min-width: 320px) and (max-width: 768px) {

    .boxSkill {
        flex-direction: column;
        width: 100vw;
        min-height: 80vh;
    }

    .mainSkill {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        font-family: 'Roboto', sans-serif;
        width: 100%;
        padding: .5rem;
    }

    .boxTagSkill{
        font-size: .8rem;
    }

    .aboutMySkill {
        margin: 1rem 0 0rem 0;
        font-size: .6rem;
        width: 100%;
    }

    .intro{
        font-size: 2rem;
    }

    .boxEndTagSkill p.intoSkill{
        font-size: .6rem;
    }

}



/* SECTION  CONTACT */

.boxContact{
        display: flex;
        flex-direction: column;
        align-items:center;
        margin: 1.5rem 10rem;
        color: #f3f3f3;
        width: 70%;
}

.message {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
}

.contact{
    background-color: rgb(75, 65, 65);
    margin: .5rem;
    padding: 0.5em;
    width: 20%;
    margin: auto;
}

.textarea{
    background-color: rgb(75, 65, 65);
    margin: .5rem;
    padding: 0.5em;
    width: 100%;
}

.textarea2{
    background-color: rgb(75, 65, 65);
    height: 100px;
    width: 100%;
}




