html * {
    margin: 0;
    padding: 0;
    box-sizing:  border-box;
}

body{
    background-color: #1C1919;
}

main {
    min-height: 80vh;
}

.boxNavBar {
        min-width: 100%;
        min-height: 5vh;
}

.boxNavBar a {
    color: #f3f3f3;
    font-weight: 600;
}

.iconos {
    width: 10%;
    position:fixed;
    right: .1em;
    top: 1rem;
}

/* I got to fix my padding an margin in media querys in this section" */
/* SECTION HOME */

.boxCenter {
display: flex;
flex-direction: column;
max-width: 100%;
padding: 1rem;
min-height: 95vh;
margin: 1.5rem 0 1.5rem 0;
}

.boxTag{
    width: 40%;
    font-family: 'Splash', cursive;
    font-size: 1rem;
    color:  rgb(160, 156, 156);
}

.title-main {
    width: 50%;
    color: #f3f3f3;
    font-size: 5rem;
    min-height: 20vh;
    margin: .5rem auto .5rem auto;
}

.tracking-in-expand {
	-webkit-animation: tracking-in-expand 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	animation: tracking-in-expand 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@-webkit-keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }


.title-main h2 {
    font-size: 4.5rem;
    font-weight: 800;
}

.title-main span { 
    color: #f73d65;
    text-shadow: 5px 3px #08f8d9;
    font-size: 4.5rem;
    font-weight:900;
    }

.boxEndTag {
    width: 40%;
    font-family: 'Splash', cursive;
    color:  rgb(160, 156, 156);
}

p.stack{
    color: #f3f3f3;
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 2rem;
    color: #f3f3f3;
    margin-left: 20rem;
}

.boxBottom button {
    text-align: center;
    cursor:pointer;
    width: 20%;
    margin: 20px 0 0 20rem;
    padding: 5px;
    background-color: #1C1919;
    border: 1px solid #08f8d9;
    color: #08f8d9;
}

button.btn {
    font-size: 1.3rem;
}

button.btn:hover {
    background-color: #08f8d9;
    color: #f3f3f3;
    transition: 2s linear;
}

a.next {
    position: absolute;
    right: 5rem;
    text-decoration: none;
    color: #08f8d9;
    font-family: 'Splash', cursive;
    }

@media (min-width: 320px) and (max-width: 768px) {

.boxNavBar {
    min-width: 100%;
    min-height: 5vh;
}

.boxCenter {
    width: 100vw;
    min-height: 95vh;
    padding: 0 0 2rem 0;
    margin: 6rem 0 1rem 0;
}

.boxTag{
    width: 20%;
    font-size: .8rem;
}

.title-main {
    min-width: 80%;
}

.title-main h2 {
    font-size: 2rem;
}

.boxEndTag{
    width: 40%;
    transform: translateX(10%);
    color:  rgb(160, 156, 156);
}

p.stack{
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 1.3rem;
    margin-left: 2rem;
}

.boxBottom button {
    width: 50%;
    margin: 1rem 0 2rem 1rem;
    padding: .1rem;
}

.iconos {
    display: flex;
    flex-direction: column;
    width: 10%;
    position:fixed;
    right: .2em;
    top: 1rem;
}

a.next {
    position: absolute;
    right: 1rem;
}
}

@media all and (min-width: 769px) and (max-width: 980px) {

.boxCenter {
    width: 100vw;
    min-height: 80%;
    padding: 0 0 2rem 0;
    margin: 2rem 0 4rem 0;
}

.boxTag{
    width:15%;
    font-size: .8rem;
}

.title-main {
    min-width: 80%;
}

.title-main h2 {
    font-size: 2.5rem;
}

.boxEndTag{
    width: 100%;
    transform: translateX(10%);
    color:  rgb(160, 156, 156);
}

p.stack{
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 1.3rem;
    margin-left: 4.5rem;
}

.boxBottom button {
    margin: 1rem 0 2rem 1rem;
    width: 30%;
    padding: .1rem;
}

.iconos {
    display: flex;
    margin-right: 1em;
    width: 20%;
    position:fixed;
    top: 2rem;
}

a.next {
    position: absolute;
    right: 1rem;
    }

}

/* SECTION ABOUT ME */

.boxAbout {
    display: flex;
    color: #f3f3f3;
    justify-content: flex-end;
    max-width: 80%;
    min-height: 80vh;
    margin: auto;
}

.boxAnimation{
    display: flex;
    background-color: rgb(43, 39, 39);
    border-radius: 80%;
    width:50vh;
    height: 50vh;
    margin: auto;
}

.imgAnimation{
    display: none;
}

.box{
    position: relative;
    width: 20%;
    height: 20%;
    border-radius: 80%;
    transition: 4s ease-in-out;
}

.boxOne{
    top: 15%;
    left:9%;
    transform: translatex(100px) translatey(215px)rotate(-360deg) translatex(25.5rem) translatey(41.5rem);
}

.boxTwo{
    top: 52%;
    right:10%;
    transform: translatex(-2px) translatey(-110px)rotate(-360deg) translatex(48rem) translatey(42rem);
}

.boxThree{
    top: 75%;
    transform: translatex(-10px) translatey(-130px) rotate(-360deg) translatex(43rem) translatey(51rem) ;
}

.boxFour{
    top:5%;
    transform: translatex(-135px) translatey(100px) rotate(360deg) translatex(31.5rem) translatey(38.5rem);
}

.boxFive{
    top: 35%;
    left: 12%;
    transform: translatex(-120px) translatey(-10px)rotate(360deg)  translatex(41rem) translatey(27rem) ;
}

.boxSix{
    top:70%;
    right: 15%;
    transform: translatex(-5px) translatey(-5px)  rotate(360deg) translatex(20rem) translatey(19.5rem);
}


.mainAbout {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-family: 'Roboto', sans-serif;
    font-size: .8rem;
    width: 50%;
    padding: 1rem;
}

.boxTagAbout{
    width: 100%;
    font-family: 'Splash', cursive;
    font-size: 1rem;
    color:  rgb(160, 156, 156);
}

.aboutMe {
    width: 100%;
    margin: 1rem 0 0rem 0;
    min-height: 40%;
}


.scale-up-hor-right {
	-webkit-animation: scale-up-hor-right 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	animation: scale-up-hor-right 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes scale-up-hor-right {
    0% {
    -webkit-transform: scaleX(0.4);
            transform: scaleX(0.4);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
    }
    100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
    }
}

.aboutMe p {
    margin-top: .8rem;
}

.boxEndTagAbout{
    width: 100%;
    margin-top: 2rem;
    font-family: 'Splash', cursive;
    font-size: 1rem;
    color:  rgb(160, 156, 156);
}

.intro{
    font-size: 3rem;
    font-weight: 600;
    font-family: 'Anton', sans-serif;
    color: #08f8d9;
    padding: .2em;
}

.special{
    font-size: 1.5rem;
    font-weight: 200;
    font-family: 'Anton', sans-serif;
    color: #08f8d9;
}


a.back {
text-decoration: none;
color: #08f8d9;
}

@media (min-width: 320px) and (max-width: 768px) {

.boxAbout {
    flex-direction: column-reverse;
    min-width: 80vw;
    min-height: 100vh;
}

.mainAbout {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: 'Roboto', sans-serif;
    min-width: 100%;
    padding: .2rem;
}

.boxAnimation{
    background-image:url(./recursos/backg.png);
    width:90%;
}

.box{
    transition: 4s ease-in-out;
    animation-iteration-count: infinite;
}

.boxOne{
    top: 6%;
    left:20%;
    transform: translatex(60px) translatey(190px)rotate(360deg);
}

.boxTwo{
    top: 50%;
    right:2%;
    transform: translatex(-2px) translatey(-110px)rotate(-360deg);
}

.boxThree{
    top: 75%;
    transform: translatex(-10px) translatey(-90px) rotate(-360deg);
}

.boxFour{
    top:5%;
    transform: translatex(-135px) translatey(100px) rotate(360deg);
}

.boxFive{
    right:80%;
    transform: translatex(-70px) translatey(50px)rotate(360deg);
}

.boxSix{
    right: 40%;
    transform: translatex(-50px) translatey(-140px)  rotate(360deg);
}

.boxTagAbout{
    font-size: .8rem;
}

.aboutMe {
    margin: 1rem 0 0rem 0;
    font-size: .8rem;
}

.intro{
    font-size: 2rem;
    min-width: 100%;
}

.special{
    font-size: 1.2rem;
    color: #08f8d9;
}
}

@media all and (min-width: 769px) and (max-width: 980px) {

.boxAbout {
    flex-direction: column-reverse;
    width: 100vw;
    min-height: 100vh;
}

.mainAbout {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: 'Roboto', sans-serif;
    min-width: 100%;
    padding: .2rem;
}

.box{
    position: relative;
    width: 20%;
    height: 20%;
    border-radius: 80%;
    transition: 4s ease-in-out;
}

.boxOne{
    top: 15%;
    left:9%;
    transform: translatex(-6rem) translatey(26rem)rotate(360deg) translatey(34rem);
}

.boxTwo{
    top: 52%;
    right:10%;
    transform: translatex(16.5rem) translatey(13.5rem)rotate(-360deg) translatey(35rem);
}

.boxThree{
    top: 75%;
    transform: translatex(11.7rem) translatey(15rem)rotate(-360deg) translatey(35rem);
}

.boxFour{
    top:5%;
    transform: translatex(-14rem) translatey(51.2rem)rotate(-360deg) translatey(5rem);
}

.boxFive{
    top: 35%;
    left: 12%;
    transform: translatex(3.5rem) translatey(10.5rem)rotate(-360deg) translatey(35rem);
}

.boxSix{
    top:70%;
    right: 15%;
    transform: translatex(-18rem) translatey(51.2rem)rotate(-360deg) translatey(-11.5rem);
}

.boxTagAbout{
    font-size: .8rem;
}

.aboutMe {
    margin: 1rem 0 0rem 0;
    font-size: .8rem;
}

.intro{
    font-size: 2rem;
    min-width: 100%;
}

.special{
    font-size: 1.2rem;
    color: #08f8d9;
}

}

/* SECTION MY SKILL */

.boxSkill{
    display: flex;
    color: #f3f3f3;
    max-width: 80%;
    min-height: 100vh;
    margin: 0 auto 0 auto;
    padding: 1rem;
    }

.mainSkill {
    min-width: 40%;
}

.boxTagSkill{
    width: 40%;
    font-family: 'Splash', cursive;
    font-size: 1rem;
    color:  rgb(160, 156, 156);
}

.aboutMySkill {
    font-size: .8rem;
}

.scale-up-hor-left {
	-webkit-animation: scale-up-hor-left 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	animation: scale-up-hor-left 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes scale-up-hor-left {
    0% {
    -webkit-transform: scaleX(0.4);
            transform: scaleX(0.4);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    }
    100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    }
}
@keyframes scale-up-hor-left {
    0% {
    -webkit-transform: scaleX(0.4);
            transform: scaleX(0.4);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    }
    100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    }
}

.boxEndTagSkill {
    width: 100%;
    font-family: 'Splash', cursive;
    font-size: 1rem;
    color:  rgb(160, 156, 156);
}

.boxEndTagSkill a.create{
    color: #08f8d9;
}

p.intoSkill{
    font-family: 'Darker Grotesque', sans-serif;
    font-size: .8rem;
    padding-top: 2rem;
}

.skill{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    min-width: 60%;
    padding: 1rem;
}

.skill1, .skill2, .skill3, .skill4,
.skill5, .skill6{
    text-align: center;
    min-width: 40%;
    min-height: 20%;
    margin: .5rem;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    color: #08f8d9;
}

.skill1:hover{
    -moz-transform: scale(1,1) rotatey(360deg);
    -webkit-transform: scale(1,1) rotatey(360deg);
    -o-transform: scale(1,1) rotatey(360deg);
    -ms-transform: scale(1,1) rotatey(360deg);
    transform: scale(1,1) rotatey(360deg);
    transition: 3s ease;
    animation-iteration-count: infinite;
    box-shadow: rgba(245, 4, 85, 0.518) 0px 54px 55px, rgba(245, 4, 85, 0.518) 0px -12px 30px, rgba(245, 4, 85, 0.518) 0px 4px 6px, rgba(245, 4, 85, 0.518) 0px 12px 13px, rgba(245, 4, 85, 0.518) 0px -3px 5px;;
}

.skill2:hover{-moz-transform: scale(1,1) rotatey(360deg);
    -webkit-transform: scale(1,1) rotatey(360deg);
    -o-transform: scale(1,1) rotatey(360deg);
    -ms-transform: scale(1,1) rotatey(360deg);
    transform: scale(1,1) rotatey(360deg);
    transition: 3s ease;
    animation-iteration-count: infinite;
    box-shadow: rgba(245, 4, 85, 0.518) 0px 54px 55px, rgba(245, 4, 85, 0.518) 0px -12px 30px, rgba(245, 4, 85, 0.518) 0px 4px 6px, rgba(245, 4, 85, 0.518) 0px 12px 13px, rgba(245, 4, 85, 0.518) 0px -3px 5px;}


.skill3:hover{-moz-transform: scale(1,1) rotatey(360deg);
    -webkit-transform: scale(1,1) rotatey(360deg);
    -o-transform: scale(1,1) rotatey(360deg);
    -ms-transform: scale(1,1) rotatey(360deg);
    transform: scale(1,1) rotatey(360deg);
    transition: 3s ease;
    animation-iteration-count: infinite;
    box-shadow: rgba(245, 4, 85, 0.518) 0px 54px 55px, rgba(245, 4, 85, 0.518) 0px -12px 30px, rgba(245, 4, 85, 0.518) 0px 4px 6px, rgba(245, 4, 85, 0.518) 0px 12px 13px, rgba(245, 4, 85, 0.518) 0px -3px 5px;}


.skill4:hover{-moz-transform: scale(1,1) rotatey(360deg);
    -webkit-transform: scale(1,1) rotatey(360deg);
    -o-transform: scale(1,1) rotatey(360deg);
    -ms-transform: scale(1,1) rotatey(360deg);
    transform: scale(1,1) rotatey(360deg);
    transition: 3s ease;
    animation-iteration-count: infinite;
    box-shadow: rgba(245, 4, 85, 0.518) 0px 54px 55px, rgba(245, 4, 85, 0.518) 0px -12px 30px, rgba(245, 4, 85, 0.518) 0px 4px 6px, rgba(245, 4, 85, 0.518) 0px 12px 13px, rgba(245, 4, 85, 0.518) 0px -3px 5px;
    }

.skill5:hover{-moz-transform: scale(1,1) rotatey(360deg);
    -webkit-transform: scale(1,1) rotatey(360deg);
    -o-transform: scale(1,1) rotatey(360deg);
    -ms-transform: scale(1,1) rotatey(360deg);
    transform: scale(1,1) rotatey(360deg);
    transition: 3s ease;
    animation-iteration-count: infinite;
    box-shadow: rgba(245, 4, 85, 0.518) 0px 54px 55px, rgba(245, 4, 85, 0.518) 0px -12px 30px, rgba(245, 4, 85, 0.518) 0px 4px 6px, rgba(245, 4, 85, 0.518) 0px 12px 13px, rgba(245, 4, 85, 0.518) 0px -3px 5px;}

.skill6:hover{-moz-transform: scale(1,1) rotatey(360deg);
    -webkit-transform: scale(1,1) rotatey(360deg);
    -o-transform: scale(1,1) rotatey(360deg);
    -ms-transform: scale(1,1) rotatey(360deg);
    transform: scale(1,1) rotatey(360deg);
    transition: 3s ease;
    animation-iteration-count: infinite;
    box-shadow: rgba(245, 4, 85, 0.518) 0px 54px 55px, rgba(245, 4, 85, 0.518) 0px -12px 30px, rgba(245, 4, 85, 0.518) 0px 4px 6px, rgba(245, 4, 85, 0.518) 0px 12px 13px, rgba(245, 4, 85, 0.518) 0px -3px 5px;

}

@media (min-width: 320px) and (max-width: 768px){

    .boxSkill {
        display: flex;
        flex-direction: column;
        align-items: center;
        min-width: 100vw;
        min-height: 100vh;
        margin-top: 2rem;
    }

    .boxTagSkill{
        width: 100%;
        font-size: 1rem;
        text-align: left;
    }

    .aboutMySkill {
        font-size: .8rem;
        width: 90%;
        max-height: 100%;
        margin: auto;
    }

.intro{
    font-size: 2rem;
}

.boxEndTagSkill p.intoSkill{
    font-size: .8rem;
}

.skill{
    display: flex;
    min-width: 100%;
    min-height: 40vh;
}

.skill1, .skill2, .skill3, .skill4,
.skill5, .skill6{
    text-align: center;
    width: 30%;
    margin: .5rem;
}

}

@media all and (min-width: 769px) and (max-width: 980px) {
    .boxSkill {
        flex-direction: column;
        min-width: 100%;
        min-height: 100vh;
        margin-top: 3rem;
    }

    .mainSkill {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: 'Roboto', sans-serif;
        min-width: 100%;
        min-height: 80vh;
    }

    .boxTagSkill{
        width: 80%;
        font-size: 1rem;
        text-align: left;
    }

    .aboutMySkill {
        margin: .5rem 0 0rem 0;
        font-size: .8rem;
        width: 85%;
    }

.boxEndTagSkill p.intoSkill{
    font-size: .8rem;
}

.boxEndTagSkill{
    width: 85%;
    font-size: 1rem;
    text-align: left;
}

.skill{
    display: flex;
    justify-content: space-between;
    min-width: 100%;
    min-height: 40vh;
}

.skill1, .skill2, .skill3, .skill4,
.skill5, .skill6{
    text-align: center;
    width: 30%;
    height: 60%;
    margin: 2rem;
}

}

/* SECTION  CONTACT */

.boxContact{
    display: flex;
    flex-direction: column;
    color: #f3f3f3;
    min-width: 100%;
    min-height: 80vh;
    margin-top: 1rem;
}

.boxTagContact {
    min-width: 40%;
    font-family: 'Splash', cursive;
    font-size: 1rem;
    color:  rgb(160, 156, 156);
    margin: auto;
}

.mainContact{
    margin-top: .2rem;
}

.mainContact h3 {
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
    font-family: 'Anton', sans-serif;
    color: #08f8d9;
    padding: .2em;
}

.mainContact p {
    text-align: center;
    font-size: 1rem;
    width: 50%;
    margin: auto;
}

.boxTagEndContact{
    min-width: 40%;
    font-family: 'Splash', cursive;
    font-size: 1rem;
    margin: auto;
    color:  rgb(160, 156, 156);
}

.message {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact{
    background-color: rgb(75, 65, 65);
    padding: 0.2em;
    margin: .2rem;
    min-width: 30vw;
}

.textarea{
    background-color: rgb(75, 65, 65);
    margin: .2rem;
    padding: 0.2em;
    min-width: 30vw;
}

.textarea2{
    background-color: rgb(75, 65, 65);
    margin: .2rem;
    padding: 0.2em;
    min-width: 30vw;
    height: 20vh;
}

.boxBottomContact{
    margin: 1rem auto 2rem auto;
}

.btnContact {
    text-align: center;
    cursor:pointer;
    min-width: 40%;
    padding: .2rem;
    background-color: #1C1919;
    border: 1px solid #08f8d9;
    color: #08f8d9;
}

.btnContact:hover {
    background-color: #08f8d9;
    color: #f3f3f3;
    transition: 2s linear;
}

@media (min-width: 320px) and (max-width: 768px) {

.boxTagContact {
    min-width: 30%;
    font-size: .8rem;
}

.mainContact{
    margin-top: 1rem;
}

.boxTagContact {
    min-width: 20%;
    margin-left: 1rem;
}

.mainContact h3 {
    font-size: 2rem;
    padding: .1em;
}

.mainContact p {
    font-size: .8rem;
    width: 80%;
}

.boxTagEndContact{
    width: 20%;
    font-size: .8rem;
    margin: .5rem 0 .5rem 0;
}

.contact{
    min-width: 80vw;
}

.textarea{
    min-width: 80vw;
}

.textarea2{
    min-width: 80vw;
    height: 20vh;
}

.boxBottomContact{
    margin-top: 1rem 0 1rem 0;
}

.btnContact {
    text-align: center;
    cursor:pointer;
    width: 100%;
    padding: .2rem;
    background-color: #1C1919;
    border: 1px solid #08f8d9;
    color: #08f8d9;
}

.btnContact:hover {
    background-color: #08f8d9;
    color: #f3f3f3;
    transition: 2s linear;
}

}

@media all and (min-width: 769px) and (max-width: 980px) {
    .boxTagContact {
        min-width: 80%;
        font-size: .8rem;
    }

    .mainContact{
        margin-top: 1rem;
    }

    .boxTagContact {
        min-width: 20%;
        margin-left: 1rem;
    }

    .mainContact h3 {
        font-size: 2rem;
        padding: .1em;
    }

    .mainContact p {
        font-size: .8rem;
        width: 60%;
    }

    .boxTagEndContact{
        width: 60%;
        font-size: .8rem;
        margin: .5rem 0 .5rem 0;
    }

    .contact{
        min-width: 60vw;
    }

    .textarea{
        min-width: 60vw;
    }

    .textarea2{
        min-width: 60vw;
        height: 20vh;
    }

    .boxBottomContact{
        margin-top: 1rem 0 1rem 0;
    }

    .btnContact {
        text-align: center;
        cursor:pointer;
        width: 100%;
        padding: .2rem;
        background-color: #1C1919;
        border: 1px solid #08f8d9;
        color: #08f8d9;
    }

    .btnContact:hover {
        background-color: #08f8d9;
        color: #f3f3f3;
        transition: 2s linear;
    }
}

footer {
    text-align: center;
    min-height: 10vh;
    color: #08f8d9;
    line-height: 4;
}



